[Unit]
Description=Bind mount /var/nix to /nix
Before=local-fs.target
After=var-nix.mount

[Mount]
What=/var/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
